body{
    background: black;
}
.navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5000;
}

.bg-color{
background: linear-gradient(to right, hsla(0, 0%, 26%, 0.815), hsla(0, 95%, 36%, 0.555));
}

.nav-item a{
    color: white;
}
.navbar-brand img{
    width: 60px;
    height: auto;
    background-color: white;
    padding: 7px;
    border-radius: 50%;
}
/* carrusel */
.carousel-item img{
    height: 50vh;
    object-fit: cover;
}

/* cards */
.contenedor-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.section-cards h1{
    text-align: center;
    color: white;
    text-transform:uppercase;
    font-size: 40px;
    margin: 20px 0;
}

/* section-divisoria */
.section-divisoria{
    background: linear-gradient(to right, #dd181880, #00000080);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white
}

/* seccion de opciones */
.text-p{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.text-p p{
    color: white;
    margin-top: 20px;
    padding: 20px;
}

/* pagina de instructores */
.text-center h1{
    color: white;
}
.testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }
  
  .aqua-gradient {
    background: linear-gradient(120deg, #dd1818c9, #000000d5);
    height: 200px;
  }
  
  .testimonial-card .avatar {
    width: 120px;
    margin-top: -60px;
    overflow: hidden;
    border: 5px solid #fff;
    border-radius: 50%;
  }

  .avatar img{
    width: 90px;
    height: 90px;
    object-fit: cover;
  }

  /* pagina de maquinas */
  .bg-color-img{
    background: linear-gradient(to right,hsla(0, 0%, 20%, 0.747), hsla(0, 61%, 92%, 0.514), hsla(0, 0%, 20%, 0.76)),url(../img/banner-maquina.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .accordion{
    width: 100%;
    --bs-accordion-bg: rgba(0, 0, 0, 0.219);
    --bs-accordion-active-bg: rgba(230, 220, 220, 0.63);
    color:white
    /* --bs-accordion-active-color: red !important; */
  }
  .accordion-button:not.collapsed{
    color: red;
  }
  .accordion-item h2 button{
    color: white;
  }