body{
    background: black;
}

.bg-color{
background: linear-gradient(to right, hsla(0, 0%, 26%, 0.575), hsla(0, 1%, 57%, 0.507));
}

.nav-item a{
    color: white;
}
.navbar-brand img{
    width: 60px;
    height: auto;
    background-color: white;
    padding: 7px;
    border-radius: 50%;
}
/* carrusel */
.carousel-item img{
    height: 50vh;
    object-fit: cover;
}